################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGL/v15

/Common/Debug
/Common/Release

/Debug/OpenGL.pdb
/Debug/OpenGL.ilk
/Debug/Common.pdb
/Debug/OpenGL.exe
/Debug/Common.lib

/OpenGL/Debug
/OpenGL/Release

/Release/OpenGL.pdb
/Release/OpenGL.ipdb
/Release/OpenGL.iobj
/Release/OpenGL.exe
/Release/Common.lib

*.exe
